# Add this line to the top of your requirements.txt
gunicorn

# --- FastAPI Backend & Server ---
fastapi
uvicorn
python-dotenv
python-multipart



# --- LangChain, Google AI & Vector DB ---
langchain-community
langchain-google-genai
google-generativeai
chromadb
langchain-text-splitters
langchain-core

# --- Document Loaders ---
requests
pypdf
python-docx
openpyxl
pandas
python-pptx
Pillow
pytesseract